 <div class="px-4">



   <div class="flex justify-between items-center my-3">
    <h2 class="text-xl font-semibold">Orders Summary</h2>
    <button class="bg-indigo-600 text-white text-sm px-4 py-2 rounded-lg shadow hover:bg-indigo-700">
      <i class="pi pi-refresh  mr-2"></i>Sync
    </button>
  </div>

  <!-- TABLE -->
   @if(isLoadingDone){
  <p-table  showGridlines stripedRows 
   #dt1
     [value]="orderList" 
     [paginator]="true"
      [scrollable]="true"
      scrollDirection="horizontal"
      [resizableColumns]="true"
       columnResizeMode="fit" 
      [rows]="10"
      [columns]="selectedColumns"
     [rowsPerPageOptions]="[10,15, 20, 30]" 
     [globalFilterFields]="['orderId', 'customerFName', 'customerLame', 'orderedDate','eventDate',   'source','destination','totalAmount','amountDue','paymentStatus','orderStatus']"
     class="p-datatable-sm  shadow rounded-xl" styleClass="w-full text-sm">

     

   <ng-template #caption>
               
                <div class="flex">
                <!-- <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" size="small" (click)="clear(glbPdt)" />  -->
           

                 <p-multiselect
                    display="chip"
                    [options]="cols"
                    [(ngModel)]="selectedColumns"
                    optionLabel="header"
                    selectedItemsLabel="{0} columns selected"
                    [style]="{'min-width': '200px'}"
                    placeholder="Choose Columns" />

                       <p-button label="Clear" class="ml-2" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />

                  <p-iconfield iconPosition="left" class="ml-auto">
                      <p-inputicon>
                          <i class="pi pi-search"></i>
                      </p-inputicon>
                      <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="searchTerm"
                             #searchBox
                             (input)="dt1.filterGlobal(searchBox.value, 'contains')"
                             placeholder="Search keyword" />
                  </p-iconfield>

                  
                  
                </div>
            </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>

         <th pSortableColumn="orderId" pFrozenColumn> 

           <div class="flex items-center gap-2 whitespace-nowrap">
               Order Id
                <p-sortIcon [field]="'orderId'"></p-sortIcon>
                <p-columnFilter
                  [field]="'orderId'"
                  [matchMode]="'contains'"
                  display="icon"
                ></p-columnFilter>
        </div>

               <!-- <p-sortIcon field="orderId" /> Order ID
                 <p-columnFilter type="text" field="orderId" display="menu" /> -->
            </th>
        @for(col of columns; track col.name){
        <th  pSortableColumn="{{col.field}}" pResizableColumn  class="min-w-[150px] whitespace-nowrap">

            <div class="flex items-center gap-2 whitespace-nowrap">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter type="{{col.filter}}" field="{{col.field}}" display="menu" />
        </div>
             <!-- <p-sortIcon field="{{col.field}}" /> 
            {{col.header}} 
             <p-columnFilter type="{{col.filter}}" field="{{col.field}}" display="menu" /> -->
        </th>
        }

        
        <!-- <th pSortableColumn="orderId"> 
               <p-sortIcon field="orderId" /> Order ID
            
       </th>
        <th  pSortableColumn="customerFName"> 
            <p-sortIcon field="customerFName" /> Customer
        </th>
        <th  pSortableColumn="orderedDate">
            <p-sortIcon field="orderedDate" />   
            Order Date
        </th>
        <th  pSortableColumn="eventDate">
             <p-sortIcon field="eventDate" /> 
            Event Date
        </th>
        <th  pSortableColumn="source">
             <p-sortIcon field="source" /> 
            Source Channel
        </th>

        <th  pSortableColumn="destination">
             <p-sortIcon field="destination" /> 
            Delivery Method
        </th>

        <th  pSortableColumn="totalAmount">
             <p-sortIcon field="totalAmount" /> 
            Total Amount($)
        </th>

          <th  pSortableColumn="amountDue">
             <p-sortIcon field="amountDue" /> 
            Due Amount($)
        </th>
     

           <th  pSortableColumn="paymentStatus">
             <p-sortIcon field="paymentStatus" /> 
            Payment Status
        </th>

          <th  pSortableColumn="orderStatus">
             <p-sortIcon field="orderStatus" /> 
            Order Status
        </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns"> 
            <tr>
                <td pFrozenColumn><p-tableCheckbox [value]="item"></p-tableCheckbox></td> 
                <td pFrozenColumn>
                  <div class="flex justify-center">
                    {{item.orderId}}
                  </div>
                </td>
                 @for(col of columns; track col.name){
                    <td  class="min-w-[150px] whitespace-nowrap">
                     
                        @if(col.field == 'customerFName'){
                            {{item.customerFName}} {{item.customerLName}}
                        }
                        @else if(col.field == 'paymentStatus' || col.field == 'orderStatus'){

                           <div class="flex justify-center">
                            <p-tag [value]="item[col.field]" [severity]="getSeverity(item[col.field])" />
                            </div>

                        }
                        @else if(col.field == 'destination'){


                            <div class="flex justify-center"> 
                                    @if(item.destination =="PICKUP"){
                                        <i class="pi pi-map-marker text-yellow-500 text-base"></i>
                                        <span class="text-yellow-600 font-medium bg-yellow-50 px-2 py-1 rounded-full  ">Pickup</span>
                                    }@else {
                                        <i class="pi pi-truck text-blue-500 text-base"></i>
                                        <span class="text-blue-600 font-medium bg-blue-50 px-2 py-1 rounded-full ">Delivery</span>
                                    } 
                                </div>  

                        }@else if(col.field == 'source'){

                           <div class="flex justify-center">
                              {{item[col.field]}} 
                            </div>

                        }
                        @else if( col.field == 'totalAmount' || col.field =='amountDue'){

                           <div class="flex justify-center">
                            {{ item[col.field] | currency:'USD':'symbol':'1.0-0' }} 
                            </div>

                        }
                        @else if(col.field == 'orderedDate'){

                           <div class="flex justify-center">
                              {{item[col.field] | date:'MM/dd/yyyy HH:mm:ss'}} 
                            </div>

                        }
                        @else if(col.field == 'eventDate'){

                           <div class="flex justify-center">
                              {{item[col.field] | date:'MM/dd/yyyy'}} 
                            </div>

                        }
                        @else {
                            {{item[col.field]}} 
                        }
                    </td>
                 }

                <!-- <td>{{item.orderId}}</td>
                <td>{{item.customerFName}} {{item.customerLName}}</td>
                 <td>{{item.orderedDate}}  </td>

                  <td>{{item.eventDate}}  </td>
                   <td>
                      <div class="flex justify-center">
                        {{item.source}}  
                      </div>

                   </td>
                    <td >
                     <div class="flex justify-center"> 
                        @if(item.destination =="PICKUP"){
                            <i class="pi pi-map-marker text-yellow-500 text-base"></i>
                            <span class="text-yellow-600 font-medium bg-yellow-50 px-2 py-1 rounded-full  ">Pickup</span>
                        }@else {
                            <i class="pi pi-truck text-blue-500 text-base"></i>
                            <span class="text-blue-600 font-medium bg-blue-50 px-2 py-1 rounded-full ">Delivery</span>
                        } 
                     </div>   
                     
                     
                    </td>
 
                    <td> 
                         <div class="flex justify-center">
                         {{ item.totalAmount }}
                        </div>
                    </td>
                   <td>
                     <div class="flex justify-center">{{item.amountDue}}</div>  </td>
                    <td >
                        <div class="flex justify-center">
                            <p-tag [value]="item.paymentStatus" [severity]="getSeverity(item.paymentStatus)" />
                            </div> 
                    </td>
                     <td> 
                         <div class="flex justify-center">
                            <p-tag [value]="item.orderStatus" [severity]="getSeverity(item.orderStatus)" />
                            </div>
                    </td> -->

                     
                
            </tr>
        
      <!--<tr>
         <td><p-tableCheckbox [value]="order"></p-tableCheckbox></td> 
       
      </tr>-->
    </ng-template>
  </p-table> 
   }@else {

   }


   </div>